<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='presentPopover($event)'>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-avatar class="user">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-avatar>

  <p class="name">
    Ranim Chaaban
  </p>


  <ion-button class="logOutButton" color="orange" shape="round">
    <ion-text class="logOut">Log Out</ion-text>
  </ion-button>




</ion-content>