ion-content ion-toolbar {
  --background: translucent;
}

.ion-color-orange {
  --ion-color-base: #fd6e00;
  --ion-color-base-rgb: 253, 110, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #df6100;
  --ion-color-tint: #fd7d1a;
}

.userpic {
  margin-top: 50%;
  margin-left: 50%;
}

.name {
  margin-left: 40%;
  //margin-left: 130px;
  /* margin-right: 100px;*/
  margin-top: -15%;
}

.logOut {
  font-size: 120%;
  //font-size: 17px;
  color: white;
}

.logOutButton {
  margin-left: 30%;
  margin-bottom: -115%;
  //margin-left: 85px;
  //margin-bottom: -350px;
}
