<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/event-view"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="event-container">

  <ion-item lines="none" class="comment-header">
    <ion-avatar slot="start" class="comment-root-avatar">
      <img src={{user_comment.picture}}>
    </ion-avatar>
    
    <ion-label class="comment-user-profile">
      <h3 class="comment-name">{{user_comment.name}}</h3>
      <p class="comment-time">{{user_comment.commentTime}}</p>
    </ion-label>
  </ion-item>
  
  <div class="comment-body">
    <div class="comment-text">{{user_comment.commentText}}</div>
    <div *ngIf="user_comment.subCommentCount > 0" class="other-comments-description comment-count-text">{{user_comment.subCommentCount}} others have replied...</div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" mode="ios">
          <ion-icon name="happy-outline"></ion-icon>
          <p class="button-text">Like</p>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" mode="ios" (click)="handleCommentClick()">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <p class="button-text">Comment</p>
        </ion-button>  
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider>
    <ion-label>
    </ion-label>
  </ion-item-divider>

  <ion-card class="submit-comment">
    <ion-card-content>
      <ion-textarea autoGrow class="comment-field" placeholder="Leave a comment..."> </ion-textarea>
      <ion-button slot="end" class="submit-button" size="default" fill="clear">Submit</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let user of user_comment.subComments">

    <ion-item lines="none" >
      <ion-avatar slot="start">
        <img src={{user.picture}}>
      </ion-avatar>
      
      <ion-label class="comment-user-profile">
        <h3>{{user.name}}</h3>
        <p>{{user.commentTime}}</p>
      </ion-label>
    </ion-item>
  
    <div class="comment-body">
      <div class="sub-comment-text">{{user.commentText}}</div>
    </div>

  </ion-card>


  

</ion-content>
