<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button defaultHref="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="logo" src="/assets/logo/oc-connect-logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="email">
    <ion-label position="stacked">Email</ion-label>
    <ion-input class="emailBox" [(ngModel)]="enteredemail"></ion-input>
  </ion-item>
  <!-- <form>
    <div class="email">
      <label for="email">EMAIL</label>
      <br />

      <ion-input
        type="email"
        [(ngModel)]="enteredemail"
        name="e"
        class="emailBox"
      ></ion-input>

    </div> -->

  <ion-item class="password">
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      class="emailBox"
      [(ngModel)]="enteredpword"
      type="password"
    ></ion-input>
  </ion-item>

  <!-- <div class="password">
    <label for="password">PASSWORD</label>
    <br />
    <ion-input
      type="password"
      [(ngModel)]="enteredpword"
      name="p"
      class="passBox"
    ></ion-input>
  </div> -->
  <!-- </form> -->
  <div class="signInBtn">
    <ion-button color="primary" (click)="updateSignInDB()" expand="block">
      <ion-text class="btnS">Sign in</ion-text>
    </ion-button>
  </div>

  <div class="signGuestBtn">
    <ion-button color="primary" expand="block">
      <ion-text class="btnG">Continue as guest</ion-text>
    </ion-button>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <div>
      <ion-button expand="full" color="primary" (click)="closeModal()">
        <ion-text class="btnC">Close</ion-text>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer> -->
