<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img class="logo" src="/assets/logo/oc-connect-logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="email">
      <label for="email">EMAIL</label>
      <br />

      <ion-input
        type="email"
        [(ngModel)]="enteredemail"
        name="e"
        class="emailBox"
      ></ion-input>

      <!--<input class="emailBox" type="text" ng-Model="enteredEmail" />-->
    </div>

    <div class="password">
      <label for="password">PASSWORD</label>
      <br />
      <ion-input
        type="password"
        [(ngModel)]="enteredpword"
        name="p"
        class="passBox"
      ></ion-input>
      <!--<input class="passBox" type="text" />-->
    </div>
  </form>
  <div class="signInBtn">
    <ion-button color="primary" (click)="updateSignInDB()">
      <ion-text class="btnS">Sign in</ion-text>
    </ion-button>
  </div>

  <div class="signGuestBtn">
    <ion-button color="primary">
      <ion-text class="btnG">Continue as guest</ion-text>
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div>
      <ion-button expand="full" color="primary" (click)="closeModal()">
        <ion-text class="btnC">Close</ion-text>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
