.email{
    width: 50%;
    padding: 10px;
}

.emailBox{
    border-radius: 25px;
    width: 300px;
    border: 2px solid #333333;
}

.passBox{
    border-radius: 25px;
    width: 300px;
    border: 2px solid #333333;
}


.password{
    width: 50%;
    padding: 10px;
}


.signInBtn{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.signGuestBtn{
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-right: 250px;
}
